@model EventPlanner.Viewmodels.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<form asp-action="Login" method="post">
    <div>
        <label>Gebruikersnaam:</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>Wachtwoord:</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Inloggen</button>

</form>
<a asp-action="Register">Registreren</a>

