@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EventPlanner</h1>
    <p>Welcome to my WebApplication.</p>
</div>

<body>
    <img src="~/images/homepageimage.png" alt="Under Construction" style="display:block; margin:auto; max-width:100%; height:auto;" />
</body>
