@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to my WebApplication.</p>
</div>

<body>
    <img src="~/images/underconstructionlogo.jpg" alt="Under Construction" style="max-width:100%; height:auto;" />
</body>
